OPENAI_API_KEY = openai_api_key
GEMINI_API_KEY = gemini_api_key
REDIS_SECRET = redis_secret
REDIS_USERNAME = redis_username
REDIS_PASSWORD = redis_password
REDIS_HOST = redis_host
REDIS_PORT = redis_port
CHROMA_API_KEY = chroma_api_key
CHROMA_TENANT = chroma_tenant
CHROMA_DB = chroma_db_name
NODE_ENV = development
CORS_ORIGIN = http://localhost:5173